<%
  kind_select_options = BusinessContact.kinds.keys.map { |kind| [I18n.t("words.#{kind}"), kind] }
%>
<%= form_with(model: business_contact) do |form| %>
  <%= ApplicationHelper.model_error_alert(business_contact.errors) %>

  <div>
    <%= form.label :nome_do_contato, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="mt-3">
    <%= form.label :tipo, class: 'form-label' %>
    <%= form.select :kind, kind_select_options, {}, class: 'form-select' %>
  </div>

  <div class="mt-3">
    <%= form.label 'E-mail', class: 'form-label' %>
    <%= form.text_field :email, class: 'form-control' %>
  </div>

  <div class="d-flex justify-content-end mt-3">
    <%= form.submit 'Salvar', class: 'btn btn-primary' %>
  </div>
<% end %>
