<%
  @productive_properties = @business_contact.productive_properties
%>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h5">Propridades produtivas</h1>
  <%= link_to "Adicionar", new_productive_property_path, class: 'btn btn-sm btn-outline-secondary' %>
</div>

<table id="productive_properties" class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Area</th>
      <th scope="col">Espaço colunas</th>
      <th scope="col">Espaço plantas</th>
      <th scope="col">Nº de Plantas</th>
      <th scope="col">Especies</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
  <% @productive_properties.each do |productive_property| %>
      <tr>
        <td scope="row"><%= productive_property.name %></td>
        <td scope="row"><%= productive_property.area %> m²</td>
        <td scope="row"><%= productive_property.space_between_rows %> <%= productive_property.space_between_rows_unit %></td>
        <td scope="row"><%= productive_property.space_between_plants %> <%= productive_property.space_between_plants_unit %></td>
        <td scope="row"><%= productive_property.number_of_plants %></td>
        <td scope="row"><%= productive_property.plant_species.count %></td>
        <td>
          <%= link_to "Exibir", productive_property %> | 
          <%= link_to "Editar", edit_productive_property_path(productive_property) %> | 
          <%= link_to "Excluir", productive_property, method: :delete, data: { confirm: "Você tem certeza?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>