<div id="<%= dom_id productive_property %>">
  <p>
    <strong>Nome:</strong>
    <%= productive_property.name %><br>
 
    <strong>Área:</strong>
    <%= productive_property.area %><br>

    <strong>Espaço entre colunas:</strong>
    <%= productive_property.space_between_rows %> <%= productive_property.space_between_rows_unit %><br>

    <strong>Espaço entre plantas:</strong>
    <%= productive_property.space_between_plants %> <%= productive_property.space_between_plants_unit %><br>

    <strong>Nº de Plantas:</strong>
    <%= productive_property.number_of_plants %><br>
  </p>
</div>
