<div id="<%= dom_id productive_property %>">
  <p>
    <strong>Name:</strong>
    <%= productive_property.name %>
  </p>

  <p>
    <strong>Area:</strong>
    <%= productive_property.area %>
  </p>

  <p>
    <strong>Space between rows:</strong>
    <%= productive_property.space_between_rows %>
  </p>

  <p>
    <strong>Space between rows unit:</strong>
    <%= productive_property.space_between_rows_unit %>
  </p>

  <p>
    <strong>Space between plants:</strong>
    <%= productive_property.space_between_plants %>
  </p>

  <p>
    <strong>Space between plants unit:</strong>
    <%= productive_property.space_between_plants_unit %>
  </p>

  <%= productive_property.number_of_plants %>

</div>
