<p style="color: green"><%= notice %></p>

<%= render @productive_property %>

<div>
  <%= link_to "Edit this productive property", edit_productive_property_path(@productive_property) %> |
  <%= link_to "Back to productive properties", productive_properties_path %>

  <%= button_to "Destroy this productive property", @productive_property, method: :delete %>
</div>
